<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 10px; border: 1px solid rgb(204, 204, 204);">
  <tbody>
  <tr>
    <td width="100%" valign="middle" style="background-color: rgb(0, 66, 115); text-align: center; height: 60px;">
      <%= link_to root_url do %>
          <%= image_tag 'logo.png', style: 'display: block;margin:0 auto', height: '35', width: '200' %>
      <% end %>

    </td>
  </tr>
  <tr>
    <td width="100%" valign="middle" style="height: auto; padding: 15px; text-align: left; background-color: rgb(255, 255, 255); min-height: 200px; vertical-align: top;">
      <p>Hello <%= @resource.email %><br/><br/>
        Your account has been locked due to an excessive number of unsuccessful sign in attempts.
      </p>

      <p>Click the link below to unlock your account:</p>

      <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

      <p>-ToDo Team</p>
    </td>
  </tr>
  </tbody>
</table>